body {
    margin: 0;
    padding: 0;
}

ul {
    overflow: auto;
    list-style: none;
    border-bottom: 2px solid #aaaaaa;
}

ul::after {
    content: "";
    clear: both;
    display: block;
}

li {
    float: left;
    padding: 7px 10px;
    border-top: 2px solid #aaaaaa;
    border-right: 2px solid #aaaaaa;
    border-left: 2px solid #aaaaaa;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

li:hover {
    background: #e0e0e0;
}