body {
	margin 0;
	padding 0;
	background: #ffffdd;
}

header, .header {
	background: #7a98a9;
	color: #ffffff;
	padding: 9px;
}

nav, .nav {
	background: #ffffff;
	color: #000000;
	padding: 9px;
}

main, .main {
	float: left;
	width: 70%;
	background: #53b1da;
	padding: 9px;
	box-sizing: border-box;
}

section, .section {
	background: #39d184;
	color= #ffffff;
	padding: 9px;
	margin-bottom: 9px;
}

article, .article {
	background: #ffffff;
	color: #000000;
	padding: 9px;
}

aside, .aside {
	float: right;
	width: 30%;
	padding: 9px;
	box-sizing: border-box;
}

footer, .footer {
	background: #183547;
	color: #ffffff;
	padding: 9px;
}

.tekito-container {
	overflow: hidden;
}

.tekito-container::after {
	content: "";
	clear: both;
	display: block;
}

.myvideo {
	background: #dddddd;
	width: 100%;
}

.nanimo-shinai-input {
	width: 100%;
	background: #f0f0f0;
}

label {
	display: block;
}
