@charset "UTF-8";

body {
	margin 0;
	padding 0;
	background: #ffffdd;
	font-family: Calibri, Arial
}

header {
	background: #7a98a9;
	color: #ffffff;
	padding: 9px;
	text-align: center;
}

header > nav{
	background: #ffffff;
	color: #000000;
	padding: 9px;
	text-align: left;
	box-shadow: 0 0 10px #ffff00;
}

header > nav:active {
	background: #000000;
	color: #ffffff;
	height: 200px;
	transition: all ease 0.5s;
}

header > nav:active::after {
	content: "がクリックすると反応はする"
}

main, .main {
	float: left;
	width: 70%;
	animation: colorchange linear 1.0s infinite alternate;
	padding: 9px;
	box-sizing: border-box;
}

@keyframes colorchange {
	0% {
		background: #53b1da;
	}
	100% {
		background: #ffffff;
	}
}

section, .section {
	background: #39d184;
	color= #ffffff;
	padding: 9px;
	margin-bottom: 9px;
	border: 3px dotted #000000;
	border-radius: 12px;
}

section:nth-of-type(3) {
	text-shadow: 0 0 10px #0000ff;
}

article, .article {
	background: #ffffff;
	color: #000000;
	padding: 9px;
	box-shadow: 0 0 20px #000000 inset;
}

article:hover {
	background: #000000;
	color: #ffffff;
	box-shadow: 0 0 40px #ffffff inset;
}

article:first-child {
	font-size: 30px;
}

aside, .aside {
	background: radial-gradient(#6666ff, #ff6666);
	float: right;
	width: 30%;
	padding: 9px;
	box-sizing: border-box;
}

footer, .footer {
	background: #183547;
	color: #ffffff;
	padding: 9px;
}

.tekito-container {
	overflow: hidden;
}

.tekito-container::after {
	content: "[工事中]←この文字列も含めCSSによる疑似要素(::after)なのでテキストとして選択できない";
	clear: both;
	display: block;
}

.myvideo {
	background: linear-gradient(#000000,#dddddd);
	width: 100%;
}

.nanimo-shinai-input {
	width: 100%;
	background: #f0f0f0;
}

label {
	display: block;
}
