<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>Trying Vue</title>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="app">
        <p>Vue.jsの実習ページ</p>
        <ul>
            <li v-for="(exampleItem, index) in exampleItemsArray">
                {{index}}{{exampleItem}}
            </li>
        </ul>
        <form v-on:submit.prevent="addItem(input)">
            <input type="text" v-model="input">
            <button type="submit">追加</button>
        </form>
        <ul>
            <li v-for="task in todos">
                <input type="checkbox" v-bind:checked="task.isCompleted" v-on:change="task.isCompleted=$event.target.checked">
                {{task.taskText}}{{pointCalc(task.yokudekitaPoint, task.isCompleted)}}
            </li>
        </ul>
        <input type="text" v-model="targetExample">
        <p>{{oldTarget}}</p>
        <p>{{targetExample}}</p>
        <p>{{upperMessage}}</p>
    </div>
    <script src="asset/tryVue.js"></script>
</body>

</html>